
  @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
   
    padding: 0%;
    margin: 0%;
 box-sizing: border-box;
 font-family: 'Cabin';
}
/* START NAVBAR */

.navbar_header{
    height: 83px;
    width: 100%;
    background-color: black;
    padding: 1% 1% 1% 1%;
    background-color: rgb(0 0 0 / 50%);
    /*align-items: center;*/
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
    height: 70px;
    position: fixed;
    
}
.navbar_header .navbar_nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}
.logo{
    width: 200px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 700px;
    margin-top: 13px;
    margin-left: 40px ;

}
.navbar_header .nav_container-links a{
        height: fit-content;
        text-decoration: none;
        color: #FFF;
        font-size: 20px;
    }
/* END NAV_BAR*/

/* INICIO IMAGEN DE FONDO PRINCIPAL*/
.Real_Estate_section{
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.Real_Estate_section .background_image{
      width: 100%;
    overflow-y: hidden;
    position: absolute;
    z-index: -1;
    margin-top: 270px;
}
.Real_Estate_section .Real_Estate_container-text{
    width: 746px;
    height: 99px;
    padding: 870px 106px 1068px 80px ;
    
}
.Real_Estate_section .Real_Estate_container-text h1{
    color: #FFF;
    font-family:'Times New Roman', Times, serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;

    
}
.Real_Estate_section .Real_Estate_container-text p{
    color: #FFF;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    margin-top: 1px;
}
.redes_sociales_vertical{
    position: absolute;
    z-index: 999;
    left: 20px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    margin-top: 50px;
}

.redes_sociales_vertical p{
    transform: rotate(90deg);
    color: #FFF;
   
}
.redes_sociales_vertical .sociales{
    width:15px;
    height:15px;

}
.redes_sociales_vertical .linea_vertical{
    height: 45px;
    width: 5px;
    border-left: 1px solid #FFF;
    font-family: sans-serif;
    font-weight: 800;
    line-height: 1px;
    margin-top: 15px;
}
/* FIN IMAGEN DE FONDO PRINCIPAL*/

/* INICIO BOTÓN DE BÚSQUEDA*/
.icono_busqueda{
    width: 320px;
    height: 35px;
    background-color: blue;
    position: relative;
    bottom: 380px;
    left: 100px;
}
.icono_busqueda .busqueda{
    /*background: linear-gradient(270deg, #000 0%, #7E7E7E 100%);*/
    /*mix-blend-mode: overlay;*/
    background-color: transparent;
    height: 100%;
    width: 100%;
    border: #FFF solid 1px;
    border-radius: 30px;
}
.busqueda{
    padding: 5px 20px  ;
}

input[type="text"]::placeholder{
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:normal;
    font-size: 11px;
    font-weight: 390;
    line-height: 45px; 
} 
.lupa_blanca{
    height: 15px;
    width: 15px;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0,-50%);
}
    
    

/* Trabajar sobre los enlaces*/

/*background-image: url('./img/fondo_principal.png');
background-position: center center;
background-size: cover;
*/
/*.redes_sociales_vertical .linea_vertical{
    width:18px;
    height:18px;

}*/