@media screen and (max-width: 320px){

    .movil h1{
        font-size: 10px;
    }
}
.navbar_header{
    height: 83px;
    width: 100%;
    background-color: black;
    padding: 2% 1% 3% 1%;
    background-color: rgb(0 0 0 / 50%);
    /*align-items: center;*/
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
    height: 70px;
    position: fixed;
    
}
.navbar_header .navbar_nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}
.logo{
    width: 200px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 700px;
    margin-top: 13px;
    margin-left: 40px ;

}
.login_barra{
    height: fit-content;
    text-decoration: none;
    color: #7E7E7E;
    font-size: 15px;
    margin-right: 0px;
    margin-left: 5px;
    border-right: 1.5px solid #FFF;
    padding-right: 20px;
}
.sign-up_barra{
    height: fit-content;
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
    padding-left:10px;
}
.ESP_barra{
    height: fit-content;
    text-decoration: none;
    color: #7E7E7E;
    font-size: 15px;
    margin-left:45px;
}
.ENG_barra{
    height: fit-content;
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
    margin-left:30px;
    border-right: 1.5px solid #FFF;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 11px;
    
}


.nav_container-links a{
        height: fit-content;
    }

    
